# ignore the gradle stuff that gets generated
.gradle/

# ignore the build directory - its compiled stuff
build/

# ignore the intellij directory
.idea/

# ignore the database text file we create
database.txt

# I think Intellij adds this build directory
out/


# don't want the chromedriver in our repo
# we have a readme in that directory to aid in 
# downloading the file we need.
ui_tests/chromedriver.exe
