# LF normalization for text files
* text eol=lf

# allow gradlew.bat to retain CRLF
gradlew.bat text eol=crlf

# screenshots are binary and shouldn't be changed
*.jpg binary
*.png binary

# jar files are binary.
*.jar binary
