# ignore the gradle stuff that gets generated
.gradle/

# ignore the build directory - its compiled stuff
build/

# ignore the intellij directory
.idea/

# ignore the database text file we create
database.txt
